@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
$pop:"'Poppins', sans-serif";
$blue:#172e46ff;
$black:#262626;
$bluelight:#1babf9;
$bluelight2:#39f3d5ff;
$grey:rgb(241,241,241);
$white:#FFFFFF;